<table class="data_table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    <% items.sort_by {|item| item.created_at}.each do |item| %>
        <tr>
            <td><%= item.name%></td>
            <td><%= item.quantity%></td>
            <td><%= item.location.name%></td>
            <td><%= link_to "Edit", edit_item_path(item)%> |
                <%= link_to "Delete", item_path(item), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %></td> 
        </tr>
    <% end %>
</table>