<h1>Inventory</h1>

<%= link_to "New Item", new_item_path%>

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    <% @items.each do |item| %>
        <tr>
            <td><%= item.name%></td>
            <td><%= item.quantity%></td>
            <td><%= link_to "Edit", edit_item_path(item)%></td> 
            <td><%= link_to "Delete", item_path(item), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %></td> 
        </tr>
    <% end %>
</table>