<h1><%= @location.name%></h1>
<h2>Actions</h2>
<%=link_to "Edit", edit_location_path(@location)%>
<%=link_to "Delete", location_path(@location), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
}%>
<%= link_to "Back to All Locations", locations_path%>
<h2>Items at Location</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Location</th>
    </tr>
    <% @items_at_location.each do |item| %>
        <tr>
            <td><%= item.name%></td>
            <td><%= item.quantity%></td>
            <td><%= item.location.name%></td>
            <td><%= link_to "Edit", edit_item_path(item)%></td> 
            <td><%= link_to "Delete", item_path(item), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %></td> 
        </tr>
    <% end %>
</table>
