<h1><%= @location.name%></h1>

<h2>Actions</h2>
<ul>
    <li><%=link_to "Edit", edit_location_path(@location)%></li>
    <li><%=link_to "Delete", location_path(@location), data: {
        turbo_method: :delete,
        turbo_confirm: "This will delete all the location and all items associated. Are you sure?"
    }%></li>
    <li><%= link_to "Back to All Locations", locations_path%></li>
    <li><%= link_to "New Item", new_item_path%></li>
</ul>
<h2>Items at Location</h2>
<%= render "shared/itemTable", items: @items_at_location%>